.fundRaiseBody {
    height: max-content;
    background-color: whitesmoke;
    padding-bottom: 200px;
  }
  
  .fund-head {
    height: 140px;
  }
  
  .fundRaiseTitleBox {
    /* background-color: aqua; */
    width: 100%;
    /* height: 200px; */
    display: flex;
    flex-direction: column;
    /* position: sticky;
    top: 0; */
    padding: 20px 0 20px 0;
    gap: 30px;
    align-items: center;
    margin-bottom: 20px;
  
    h2 {
      font-size: 30px;
    }
  
    div {
      font-size: 20px;
    }
  }
  
  .fundMainContentBox {
    width: 100%;
    height: max-content;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .fundMainContentWrapper {
    /* background-color: aqua; */
    width: 85%;
    height: max-content;
    display: flex;
    gap: 50px;
  }
  
  .fundContentBox {
    width: 70%;
    /* background-color: rgb(155, 241, 244); */
    height: max-content;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .fundContentInBox {
    width: 100%;
    height: 350px;
    background-color: darkorange;
    border-radius: 10px;
    /* margin-top: 20px; */
  
    img {
      height: 100%;
      width: 100%;
    }
  }
  
  .donateBox {
    width: 30%;
    height: max-content;
    /* background-color: coral; */
    position: sticky;
    padding-top: 20px;
    /* position: fixed; */
    top: 0;
  }
  
  .bonateInBox {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    /* margin-top: 20px; */
    background-color: rgb(255, 255, 255);
  
    button {
      height: 50px;
      /* border: none; */
      border-radius: 10px;
      width: 100%;
      /* background-color: red; */
      cursor: pointer;
      
    }
  }
  
  .fundRaiseDonateBtn {
    background-color: #05BB6D;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
  }
  
  .fundRaiseShareBtn {
    background-color: white;
    color: #05BB6D;
    font-size: 20px;
    border: 1.5px solid #05BB6D;
    font-weight: bold;
  }
  
  .fundRaiseTrackBox {
    width: 100%;
    /* background-color: #86fc88; */
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .fundRaiseTrackMoney {
  
    div {
      color: gray;
    }
  }
  
  .progress-container {  
    width: 100%; /* w-full */  
    background-color: #E2E8F0; /* bg-gray-300 */  
    border-radius: 9999px; /* rounded-full */  
    height: 24px;  
  } 
  
  .progress-bar {  
    background-color: #05BB6D; /* bg-blue-600 */  
    height: 100%; /* h-full */  
    border-radius: 9999px; /* rounded-full */  
    transition: width 0.3s ease;  
  } 
  
  .trackBox {
    height: max-content;
    width: 100%;
    /* background-color: blue; */
  }
  
  .fundRaiseNoDonor {
    color: gray;
  }
  
  .fundRaiseOrgName {
    height: max-content;
    align-items: flex-end;
    /* background-color: red; */
    display: flex;
    margin-bottom: 15px;
    gap: 5px;
  }
  
  .fundRaiseOrgCard {
    height: 70px;
    max-width: max-content;
    min-width: 250px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 5px;
  
    .orgImg {
      background-color: rgb(0, 217, 159);
      height: 60px;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
    }
    
  }
  
  .fundRaiseOgBy {
    font-size: 15px;
    color: gray;
    margin-bottom: 5px;
  }
  
  .fundRaiseOrgVerified {
    /* height: 50px; */
    padding: 5px;
    border-radius: 15px;
    font-size: 13px;
    color: var(--main-green);
    /* width: 100px; */
    background-color: #79e0b3;
  }
  
  .fundOrgName {
    font-size: 15px;
    font-weight: bold;
  }
  
  .fundRaiseStoryBox {
    /* background-color: rgb(65, 253, 96); */
    width: 100%;
    height: max-content;
  
    h2 {
      margin-bottom: 50px;
    }
  
    .fundRaiseStory {
      height: max-content;
      width: 100%;
      /* background-color: tomato; */
      font-size: 20px;
      line-height: 30px;
    }
  }
  
  .showMoreStories {
    /* height: 9000px; */
    width: 100%;
    /* background-color: red; */
    display: flex;
    font-size: 20px;
    color: #05BB6D;
    height: 70px;
    align-items: center;
    justify-content: center;
  }
  
  .fundRaiseDonorBox {
    /* background-color: red; */
    width: 100%;
    height: max-content;
  
    h2 {
      margin-bottom: 30px;
    }
  }
  
  .fundDonorWrapper {
    height: max-content;
    width: 100%;
    /* background-color: chartreuse; */
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  
    .fundDonor {
      height: 60px;
      width: 100%;
      /* background-color: rgb(217, 108, 108); */
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  
  .fundRaiseNameBox {
    display: flex;
    gap: 10px;
  }
  
  .fundRaiseIconBox {
    background-color: lightgray;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  
    img {
      height: 100%;
      width: 100%;
    }
  }
  
  .fundRaiseAmountBox {
    font-size: 20px;
    font-weight: bold;
    color: rgb(113, 92, 251);
  }
  
  .fundRaiseName {
    /* background-color: red; */
    width: 200px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 5px;
  }
  
  .fundRaiseUserdate {
    color: gray;
  }
  
  .fundRaiseUserName{
    font-weight: bold;
    /* font-size: ; */
  }
  
  .fundRaiseSeeAll {
    height: 70px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #05BB6D;
    font-size: 17px;
    font-weight: bold;
  }
  
  .fundRaiseUpdateBox {
  
    h2 {
      margin-bottom: 30px;
    }
  
    div {
      height: 300px;
      width: 100%;
      border-radius: 10px;
      font-weight: bold;
      color: lightgray;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid lightgray;
    }
  }