.checkIcon{
  height: 50px;
  width: 50px;
  background-color: #08b46a;
  border-radius: 50%;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.PassChange {
  height: max-content;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: gray;
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}
