.welcomeSignupPage {
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 100px;
  }
  
  .welcomesignupBox {
    height: max-content;
    /* background-color: green; */
    display: flex;
    width: 45%;
    min-width: 360px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  
    div {
      text-align: center;
    }
  }
  
  .welcomeBtnDashboard {
    height: 50px;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: var(--main-green);
    color: white;
    font-weight: bold;
    cursor: pointer;
  }