.campaignBody {
  height: 90vh;
  width: 100%;
  overflow-y: auto;
  padding: 20px;
}

tr {
  border-left: none;
}

.campaignContent {
  height: max-content;
  /* background-color: turquoise; */
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  flex-direction: column;
  gap: 25px;
}

.campaignSearchSide {
  height: max-content;
  align-items: center;
  width: 100%;
  /* background-color: red; */
  gap: 20px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.SearchSide {
  height: max-content;
  width: max-content;
  /* background-color: aqua; */
  align-items: center;
  display: flex;
  gap: 10px;
}

.searchBox {
  height: 30px;
  padding-left: 10px;
  width: 230px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  border: 1px solid lightgray;

  input {
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    padding-left: 5px;
  }
}

.filterIcon {
  height: 30px;
  width: 30px;
  border: 1px solid lightgray;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.campaignBtn {
  height: 40px;
  width: 150px;
  /* background-color: rgb(18, 154, 18); */
  border: none;
  background: #05BB6D;

  color: white;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: #049255;
  }
}

.campaignTable {
  height: 300px;
  width: 100%;
  overflow-x: auto;
  border: 1px solid rgb(179, 178, 178);
  /* background-color: aqua; */
  border-radius: 10px;

  /* .tableHeadDetails {
    background-color: lightgray;
  } */
}

.tableHeader {
  height: 50px;
  width: 100%;
  /* border-top-left-radius: 10px; */
  /* border-top-right-radius: 10px; */
  background: lightgray;
  display: flex;
  gap: 20px;
  /* background-color: red; */
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.createdCampaigns {
  height: 45px;
  width: 100%;
  /* background-color: green; */
  min-width: 200px;
  gap: 20px;
  /* overflow-x: auto; */
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;

  &:hover {
    background: #F1F1F2;
  }
}

.tableHeadName {
  /* background-color: red; */
  max-width: 250px;
  width: 100%;
  min-width: 120px;
}

.tableHeadDetails1 {
  background-color: lightgray;
  gap: 20px;
  width: 400px;
  min-width: 250px;
  display: flex;
  justify-content: space-between;
}
.tableHeadDetails {
  /* background-color: lightgray; */
  border-bottom: 1px solid lightgray;
  gap: 20px;
  width: 400px;
  min-width: 250px;
  display: flex;
  justify-content: space-between;

  div {
    /* width: 100px; */
    /* background-color: red; */
  }
}

.tableHeadStatus1 {
  gap: 40%;
  width: 100px;
  background-color: lightgray;

  div {
    width: 50px;
    /* background-color: red; */
  }
}
.tableHeadStatus {
  gap: 40%;
  width: 100px;
  border-bottom: 1px solid lightgray;
  /* background-color: lightgray; */

  div {
    width: 50px;
    /* background-color: red; */
  }
}

.tb {
  height: 100%;
  /* width: max-content; */
  /* background-color: greenyellow; */
  display: flex;
  align-items: center;
}
.CampaignName {
  /* max-width: 300px;
  width: 100%;
  min-width: 150px; */

  max-width: 250px;
  width: 100%;
  min-width: 120px;
  /* background-color: green; */
}

.emp {
  width: 22px;
}


.campaignMenuSec {
  min-width: 22px;

  span {
    display: flex;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    width: max-content;
    
    &:hover {
      background-color: lightgray;
      /* background-color: red; */
    }
  }
}

.tableDetails {

}

/* @media screen and (max-width: 428px) {
  .tableHeadDetails {
    display: none;
  }
} */


.container {  
  /* max-width: 1200px; Adjust based on your design   */
  /* margin-left: auto;   */
  /* margin-right: auto;   */
  /* background-color: red; */
  width: 100%;
  /* padding: 1rem;   */
  border-radius: 10px;
  /* border: none; */
} 

.full-width-border {  
  min-width: 100%; /* Sets the minimum width to 100% of its parent */  
  border-width: 1px; /* Sets the border width to 1 pixel */  
  border-style: solid; /* Sets the border style to solid (essential for visible borders) */  
  /* border: 1px solid rgb(179, 178, 178);  */
  border-radius: 10px; 
  /* background-color: red;  */
}

.bg-gray-100 {  
  /* background-color: #F7FAFC; */
  /* background-color: red;  */
  /* background-color: lightgray;  */
  border: 0;
  /* background-color: red; */
}

.border-style {  
  /* border-width: 1px;   */
  /* border-style: solid;    */
  /* border-color: #D1D5DB;  */
  /* padding: 0.5rem;  */
  /* background-color: red;  */
  /* border: none; */
}  

.border-bottom {  
  border-bottom-width: 1px; 
  border-bottom-style: solid; 
  border-bottom-color: lightgray; 
  /* background-color: red; */
} 

.the {
  background-color: lightgray;

  th {
    border-color: red;
  }

  tr {
    border-color: red;
  }
}

.border-style {  
  border-width: 1px;  
  border: 0;
  border-style: solid; 
  /* width: 50%; */
  border-color: #D1D5DB; 
  padding: 0.5rem;
  /* background-color: red; */
}  

.text-green {  
  color: #38A169; /* Green color corresponding to Tailwind's green-500 */  
} 

.flex-justify-between {  
  display: flex; /* Enables flexbox layout */  
  justify-content: space-between; /* Distributes space between items */  
  margin-top: 1rem; /* Applies a top margin of 1rem (4 * 0.25rem) */  
}

.bg-gray {  
  background-color: #E2E8F0; /* Light gray color corresponding to Tailwind's gray-200 */  
  padding: 0.5rem; /* Applies padding of 0.5rem (2 * 0.25rem) */  
  border-radius: 0.25rem; /* Applies a border radius of 0.25rem for rounded corners */  
}  

.p-2 {  
}  

.rounded {  
}

/* td {
  border: 3px solid red;
}

th {
  border: 3px solid red;
} */
