.correctPassMess {
  height: max-content;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  width: 100%;
  background-color: #ECF3FF;
  /* background: #ECF3FF; */
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 14px;
}

.loginBtn {
  width: 100%;
  min-height: 44px;
  background-color: #049255;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}
