.header-container {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.header {
  width: 80%;
  height: 8vh;
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 5px 10px; 
  background-color: white;
  transition: padding 0.3s ease;
}

.logo {
  margin-top: 4%;
  max-height: 50px;
  width: auto;
  height: auto;
  cursor: pointer;
}

.nav {
  flex: 2;
  display: flex;
  justify-content: center; 
  align-items: center;
  padding-left: 50px;
  margin: 0 auto;
  max-width: 1200px;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 4vw;
  padding: 0;
  margin: 0;
  font-family: Proxima Nova, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
}

.nav-item {
  position: relative;
}

.dropdown-toggle {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 16px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 0;
  margin: 0;
  list-style: none;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.nav-item:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  color: black;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.auth-buttons {
  display: flex;
  gap: 30px;
  flex: 1;
  justify-content: flex-end;
}

.nav-button {
  background-color: #05BB6D;
  color: white;
  border: none;
  padding: 12px 30px;
  cursor: pointer;
  font-family: Proxima Nova, sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #04a65f; /* Slightly darker green for hover */
}

.login-button {
  background-color: #ffffff;
  color: black;
  padding: 12px 20px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.signup-button {
  padding: 12px 30px;
  border-radius: 8px;
  color: white;
  background-color: #05BB6D;
  transition: background-color 0.3s ease;
}

.signup-button:hover {
  background-color: #04a65f; /* Slightly darker green for hover */
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 15px; 
    height: auto;
  }

  .logo {
    max-height: 40px;
  }

  .nav {
    padding-left: 0;
    flex-direction: column;
    gap: 10px;
  }

  .nav-list {
    flex-direction: column;
    gap: 20px;
  }

  .auth-buttons {
    justify-content: center;
    margin-top: 10px;
  }

  .nav-button, .login-button, .signup-button {
    padding: 10px 20px;
    font-size: 14px;
  }
}
