.header-container {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.header {
  width: 80%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  border-radius: 45px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 130.34px;
  height: auto;
  cursor: pointer;
}

.nav {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
  margin: 0 auto;
  max-width: 1200px; 
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4vw;
  padding: 0;
  margin: 0;
  font-family: Proxima Nova, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  width: auto;
}

.nav-item {
  position: relative;
}

.dropdown-toggle {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 16px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 0;
  margin: 0;
  list-style: none;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  color: black;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.auth-buttons {
  display: flex;
  gap: 30px;
  flex: 1;
  justify-content: flex-end;
}

.nav-button {
  background-color: #05BB6D;
  color: white;
  border: none;
  padding: 12px 30px;
  cursor: pointer;
  font-family: Proxima Nova, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.49px;
  text-align: center;
}

.login-button {
  background-color: #ffffff;
  color: black;
  border: 1px solid #05BB6D;
  padding: 12px 20px;
  border-radius: 20px;
}

.signup-button {
  padding: 12px 30px;
  border-radius: 20px;
  color: white;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column; 
    padding: 20px; 
    height: auto; 
  }

  .nav {
    padding-left: 0; 
    flex-direction: column; 
    gap: 10px; 
  }

  .nav-list {
    flex-direction: column;
    gap: 20px; 
  }

  .auth-buttons {
    justify-content: center; 
    margin-top: 10px; 
  }

  .nav-button, .login-button, .signup-button {
    padding: 10px 20px; 
    font-size: 14px; 
  }
}
