.bankBody {
    background-color: white;
    /* padding: 30px; */
    border-radius: 10px;
    min-width: 350px;
    width: 40%;
    height: 400px;
    display: flex;
    flex-direction: column;
    /* z-index: 999; */
  }
  
  .bankWrapper {
    height: 100%;
    /* background-color: aqua; */
    width: 100%;
    padding: 20px 30px 20px 30px;
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: space-between;
  }
  
  
  .continueBox {
    height: max-content;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    /* background-color: green; */
  
    button {
      width: 110px;
      height: 40px;
      border-radius: 30px;
      border: none;
      color: white;
      background-color: var(--main-green);
      cursor: pointer;
    }
  }
  
  .selectPaymentBox {
    height: 70px;
    /* background-color: red; */
    width: 100%;
    border-radius: 10px;
    border: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
  
    input {
      margin-right: 10px;
    }
  }
  