*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.signup-container{
    height: 100vh;
    max-width: 1440px;
    width: 100%;
    margin-left: 0 auto;
    background-color: #FAFAFA;
    display: flex;
}

.signup-inner{
    width: 100%;
    max-width: 577px;
    height: auto;
    max-height: 1026px;
    background: #E6FAF2;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.signup-content { 
    display: block; 
    font-family: 'Proxima Nova', sans-serif; 
    text-align: left;
    width: 250px;
    height: 29px;
    opacity: 1;
    color: #0B1215;
    margin-top: 150px;
    margin-right: 80px;
}

.signup-image {
    max-width: 150px;
    margin-bottom: 50px;
}


.signup-content h1{
    font-size: 24px;
    font-weight: 700;
    line-height: 29.23px;
    text-align: left;
    margin-bottom: 20px;
}

.signup-content p{
    font-size: 16px;
    font-weight: 300;
    line-height: 19.49px;
    text-align: left;
    width: 350px;
}