.progress-container {  
  width: 100%; /* w-full */  
  background-color: #E2E8F0; /* bg-gray-300 */  
  border-radius: 9999px; /* rounded-full */  
  height: 24px; /* h-6 */  
} 

.progress-bar {  
  background-color: #2B6CB0; /* bg-blue-600 */  
  height: 100%; /* h-full */  
  border-radius: 9999px; /* rounded-full */  
  transition: width 0.3s ease;  
} 