.userLayoutBody {
  max-height: 100vh;
  min-height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;

}

.sidebar {
  min-width: 240px;
}

.holder {
  min-height: 90vh;
  background-color: whitesmoke;
}

.otherSide {
  width: 100%;
}

.userLayoutHeader {
  height: 10vh;
  background-color: white;
}

@media screen and (max-width: 800px) {
  .sidebar {
    min-width: 60px;
  }
}

@media screen and (max-width: 428px) {
  .sidebar {
    display: none;
  }
}

.menuOnphone {
  height: 200px;
  background-color: red;
  width: 100%;
}