.userLayoutBody {
    height: 100vh;
    /* background-color: aqua; */
    width: 100%;
    display: flex;
  }
  
  .sidebar {
    /* background-color: red; */
    min-width: 280px;
    
    /* max-width: 300px; */
  }
  
  .otherSide {
    /* background-color: cadetblue; */
    width: 100%;
  }
  
  .userLayoutHeader {
    height: 80px;
    /* background-color: greenyellow; */
  }
  
  @media screen and (max-width:800px){
    .sidebar {
      min-width: 90px;
    }
  }
  
  @media screen  and (max-width: 425px){
    .sidebar {
      display: none;
    }
  
    /* .headerSighUp {
      display: none;
    } */
  
    /* .headerWrapper {
      justify-content: space-between;
    } */
  }
  